<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>

<div class="row">
  <div class="col-md-auto">
    <h2 class="lowercase" jhiTranslate="infinityshoppingApp.categoryMinerals.home.title">Category Minerals</h2>
  </div>

  <div class="col">
    <div class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" [(ngModel)]="searchProduct" placeholder="Search" />
    </div>
  </div>

  <div class="col">
    <button class="btn btn-info mr-2 float-right" (click)="loadPage()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span jhiTranslate="infinityshoppingApp.categoryMinerals.home.refreshListLabel">Refresh List</span>
    </button>
  </div>

  <div class="w-100"></div>

  <div class="padding-top">
    <div class="col">
      <div class="btn-group" role="group" jhiSort [(predicate)]="predicate" [(ascending)]="ascending"
        (sortChange)="loadPage()">
        <button type="button" class="btn btn-outline-secondary btn-sm" jhiSortBy="name">
          <span class="d-flex">
            <span jhiTranslate="infinityshoppingApp.product.sortByName">Sort by name</span>
            <fa-icon icon="sort" class="hiddenSortFaicon"></fa-icon>
          </span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" jhiSortBy="price_gross">
          <span class="d-flex">
            <span jhiTranslate="infinityshoppingApp.product.sortByPrice">Sort by price</span>
            <fa-icon icon="sort" class="hiddenSortFaicon"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="categoryMinerals?.length === 0">
    <span jhiTranslate="infinityshoppingApp.categoryMinerals.home.notFound">No Category Minerals found</span>
  </div>
  <div class="container">
    <div class="row card-group">
      <div class="col-xs-6 col-md-4"  *ngFor="let categoryMinerals of categoryMinerals| filter: searchProduct; trackBy: trackId"
        data-cy="entityTable">
        <div class="card border-secondary mb-3" style="max-width: 20rem">
          <div class="card-body">
            <div class="image">
              <a *ngIf="categoryMinerals.image" (click)="openFile(categoryMinerals.image, categoryMinerals.imageContentType)">
                <img [src]="'data:' + categoryMinerals.imageContentType + ';base64,' + categoryMinerals.image" style="max-height: 220px"
                  alt="categoryMinerals image" />
              </a>
            </div>
            <h4 class="card-title" class="capitalize">{{ categoryMinerals.name }}</h4>
            <div>
              <p class="card-text">
                {{ categoryMinerals.priceGross }} $
                <button type="submit" [routerLink]="['/product', categoryMinerals.id, 'view']" class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
